.forecast-card{
    width: 16%;
    height: 150px;
    margin: 1%;
    padding: 1%;
    justify-content: flex-start;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    transition: all .3s
}

.forecast-card:hover{
    position: relative;
    width: 18%;

}

.forecast-card-icon-block{
    width: 30%;
    margin-right: 5%;
}

.forecast-card-icon{
    width: 120%;
}